<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="stylesheet.css" rel="stylesheet">
</head>
<body>
<div class="container">
<header><h3>Login Admin</h3></header>
    <div class="wrapper">

    <form class="form-small" action="/adminpage" method="post">
    <label>Email</label><input type="email" name="email">
    <label>Password</label><input type="password" name="password">
    <input type="submit" value="login">

</form>
        <a href="/auth/facebook">Login with Facebook</a>
    </div>
</div>
</body>
</html>
