<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="/stylesheet.css" rel="stylesheet">
</head>
<body>

<div class="container">
<header><h3>Your profile</h3></header>

    <div class="wrapper">
        <a href="#profile">Profile</a>
        <a href="#contact">Contact</a>

    <div class="page">
        <label>Name</label>
   <label> Description</label>
    <label>City</label>

    </div>
      <div class="page">

        <form id="contact" class="form-small" method="post" action="/sendmail">
            <label>Name</label> <input type="text" name="username">
            <label>Email</label> <input type="text" name="useremail">
            <label>Message</label> <textarea rows="5" cols="50" name="message"></textarea>
            <input type="submit" name="send" value="Send">
        </form>
    </div>

    </div>
</div>
</body>
</html>

