<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin Signup</title>
    <link href="stylesheet.css" rel="stylesheet">
</head>
<body>
<div class="container">
<header><h3>Admin Signup</h3>
</header>
<div class="wrapper">

<form class="form-small" action="/signup" method="POST">
    <label>Admin Name</label>  <input type="text" name="name">
    <label>Admin Email </label>  <input type="text" name="email">
    <label>Password </label>  <input type="password" name="password">
    <label></label><input type="submit" value="Signup">
</form>

</div>
</div>

</body>
</html>
